
@font-face {
  font-family: 'NanumPenScript-Regular';
  src: local('NanumPenScript-Regular'), url("/fonts/NanumPenScript-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Jua-Regular';
  src: local('Jua-Regular'), url("/fonts/Jua-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Clickbluesky';
  src: local('Clickbluesky'), url("/fonts/Clickbluesky.ttf") format('truetype');
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.aboutleft,
.aboutright {
  position: absolute;
  z-index: -1;

}
.logoImage{
  width: 70%;
}
.mapImage{
  width: 100%;
}

.aboutleft {
  @include media("<=phone") {
    background: black;
  }

  background: #ffffff;
  left: 0%;
  width: 30%;
}

.aboutright {
  background: #ffffff;
  right: 0%;
  width: 70%;
}



.scrolldownLeftCon {
  color: rgb(0, 0, 0);;
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  bottom: 110px;
  left: 1%;
  transform: rotate(-90deg);
}
.scrolldownLeftCon::before {
  content: "";
  border: 1px solid rgb(0, 0, 0);
  width: 100px;
  margin: 0 20px 0 0;
  transform: translateY(-3px);
  opacity: .5;
  display: inline-block;
}

.gununTitle{
  top:13%;
  width: 69.8%; 
  height: 74%; 
  left:14.9%;
  overflow: hidden;
  margin: 0px auto; 
  position: relative;
  box-shadow: 0px 0px 10px rgb(87, 87, 87);
}

.contentTitle {
  width: 100%;
  text-align: center;
  font-size:30px;
  font-family: 'Raiderfont';
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}
.contentTitle p{
  color:rgb(99, 97, 97);
}

.contentStroy{
  width: 32%;
  right: 13%;;
  // left: 10px;
  height:70%;
  // top: 35%;
  background: rgba(248,248,248,.88);
  position: absolute;
}

.contentStroy p{
  margin-top: 20%;
  margin-left: 6%;
  text-align: left;
  font-size: 17px;
  color: #818181;
  font-family: 'hmuB';
}

.contentStroy h1{
  
  margin-left: 6%;
  font-family: hmuB;
  text-align: left;
  font-size:35px;
  color:#000000
}

.contentStroy h2{
  margin-top: 15%;
  font-family: hmuB;
  margin-left: 6%;
  text-align: left;
  font-size:15px;
  color: #818181
}

.contentStroy h3{
  margin-left: 6%;
  text-align: left;
  font-size:23px;
  color:#818181;
  font-family:'hmuR'
}



.leftContents {
  top:100%;
  position: absolute;
  width: 85%;
  transition: 0.3s;
}

.rightContents {
  position: absolute;
  top:250%;
  width: 95%;
  margin-left: 5%;

  margin-bottom: 10%;
  transition: 0.3s;
}

.firstCardContents{
  width: 37%;
  margin-left: 10%;
  position: absolute;
  z-index: 1;
}

.firstCardContentsFreck{
  width: 70%;
    margin-left: -7%;
}

.firstCardProfile{
  width: 30%;
  margin-left: 15%;
  margin-top: 10%;
  position: absolute;
}

.firstCardAcne{
  width: 100%;
  position: absolute;
}
.lifting{
  position: absolute;
  width: 100%;
  top: 360%;
}


.firstCardTightening{
  box-shadow: 0px 0px 10px white;
  width: 32%;
  margin-top: 130%;
  position: absolute;
  left: 53%;

}

.firstCardSecond{
  box-shadow: 0px 0px 10px white;
  width: 35%;
  margin-top:16%;
  left: 15%;
  position: absolute;
}


.storyAcne{
  left: 28%;
  position: absolute;
  margin-top: 14vh;
}
.storyFreckles{
  left: 28%;
  position: absolute;
  margin-top: 24vh;
}


.storyAcneTr{
  left: 5%;
  position: absolute;
  margin-top: 10%;
}
.storytightening{
  position: absolute;
  margin-top: 134%;
  width: 52%;
  font-family: 'Clickbluesky';
}


.storyCombination{
  position: absolute;
  margin-top: 5%;
  float: right;
  left: 49%;
  width: 66%;
}

.storyCombination span{
  width: 54.5%;
font-size:20px;
color:#252525;
}


.storyCombination h2{
  color: #6a6a6a;
  line-height: 1.7;
  font: inherit;
  font-size: 1.2vw;
  font-family: 'hmuM';
  vertical-align: baseline;
  }

  .storyCombination p{
    font-family: "hmuB";
    font-size: 15px;
    font-size: 28px;
    color: #252525;
    vertical-align: baseline;
    }


    .storyAcnePigment{
      left: 5%;
      position: absolute;
      margin-top: 15%;
    }


    .storyAcnePigment span{
      width: 54.5%;
    font-size:20px;
    color:black;
    }

    .storyAcnePigment h2{
      color: #6a6a6a;
      line-height: 1.7;
      font: inherit;
      font-size: 1.2vw;
      font-family: 'hmuM';
      vertical-align: baseline;
      }

      .storyAcnePigment p{
        font-family: "hmuM";
        font-size: 15px;
        font-size: 28px;
        color: #252525;
        vertical-align: baseline;
        }

.story, .storyAcne span,.storyAcneTr span, .storytightening span{
  width: 54.5%;
font-size:20px;
color:black;
}


.story h2, .storyAcne h2,.storyAcneTr h2, .storytightening h2{
  font-family: "hmuM";
  font-size: 1.2vw;
  color:#6a6a6a;
  line-height: 1.7;
  vertical-align: baseline;
  }

  .story p, .storyAcne p,.storyAcneTr p, .storytightening p{
    font-family: "hmuM";
    font-size: 15px;
    font-size: 28px;
    color: #252525;
    vertical-align: baseline;
    }

 .storyFreckles p{
  font-family: "hmuM";
  font-size: 15px;
  font-size: 28px;
  color: #252525;
  vertical-align: baseline;
 }

 .storyFreckles h2{
  font-family: "hmuM";
  font-size: 1.2vw;
  color:#6a6a6a;
  line-height: 1.7;
  vertical-align: baseline;
 }

.firstCardLaser{
  width: 16%;
  margin-top:10%;
}

.firstCardLaser1{
  width: 10%;
}
.firstCardLaser2{
  width: 14%;
  margin-top:3%;
}
.firstCardLaser3{
  width: 16%;
  margin-top:6%;
}
.firstCardLaser4{
  width: 17%;
  margin-top:6%;
  margin-left:-2%;
}
.firstCardLaser5{
  width: 18%;
  margin-top:9%;
  margin-left:-2%;
}
.firstCardLaser6{
  width: 15%;
  margin-top:6%;
  margin-left:-2%;
}
.storyOne{
  
  padding-right: 70px;
  float: left;
}
.storyZero{
  position: absolute;
  margin-top: 10%;
  float: right;
  left: 50%;
  width: 50%;
}

.storyZero strong{
  position: relative;
  font: inherit;
  vertical-align: baseline;
  color: #252525;
  font-size: 33px;
  font-family: serif;
  font-weight: bolder;
}


.story {
  
  position: absolute;
  margin-top: 4vh;
    float: right;
    left: 56%;
}


.storylifting {
  width: 60%;
  position: absolute;
  margin-top: 18%;
    float: right;
    left: 56%;
}

.storylifting p{
  
  font-family: 'hmuR';
  font-size: 15px;
  font-size: 28px;
  color: #252525;
  vertical-align: baseline;
}

.storylifting h2{
  font-size: 1.1vw;
  font-family: 'hmuM';
  color: #6a6a6a;
  line-height: 1.7;
  vertical-align: baseline;
}


.storyBotox {
  
  position: absolute;
  margin-top: 4%;
    float: right;
    left: 56%;
}

.storyBotox p{
  width: 60%;
  font-family: 'hmuB';
  font-size: 15px;
  font-size: 28px;
  color: #252525;
  vertical-align: baseline;
}

.storyBotox h2{
  font-family: "hmuM";
  font-size: 1.2vw;
  color:#6a6a6a;
  line-height: 1.7;
  vertical-align: baseline;
}



.story,.storyZero span, .storyAcne span{
    width: 60%;
    font-size: 18px;
    color: #252525;

}
.storyCorn{
  margin-top: 10vh;
  width: 60%;
  font-size: 18px;
  color: #252525;
  margin-left: 50%;
}
.storyCorn span{
  width: 60%;
  /* font-size: 18px; */
  color: #252525;
  left: 47%;
  margin-top: 15vh;
}

.storyCorn h2{
  font-family: "hmuM";
  font-size: 1.2vw;
  color:#6a6a6a;
  line-height: 1.7;
  vertical-align: baseline;
}
.storyCorn p{
  font-family: "hmuM";
  font-size: 15px;
  font-size: 28px;
  color: #252525;
  vertical-align: baseline;
}


.story h2,.storyAcne h2{
  font-family: "hmuM";
  font-size: 1.2vw;
  color:#6a6a6a;
  line-height: 1.7;
  vertical-align: baseline;
  }
  .storyZero h2{
    font-family: "hmuM";
    font-size: 16px;
    color:#6a6a6a;
    line-height: 1.7;
    vertical-align: baseline;
  }

  .storyAcne2 {
    left: 28%;
    position: absolute;
    margin-top: 36%;
  }
 
  .storyAcne2 h2{
    font-family: "hmuM";
    font-size: 1.2vw;
    color:#6a6a6a;
    line-height: 1.7;
    vertical-align: baseline;
  }

  .storyFreckles2{
    left: 28%;
    position: absolute;
    margin-top: 50%;
  }

  .storyFreckles2 h2{
    font-family: "hmuM";
    font-size: 1.2vw;
    color:#6a6a6a;
    line-height: 1.7;
    vertical-align: baseline;
  }

  .storyZero h3{
    font-size: 15px;
  color: #6a6a6a;
  font: inherit;
  line-height: 26px;
  }

  .story p, .storyAcne p{
    font-family: "hmuM";
    font-size: 15px;
    font-size: 28px;
    color: #252525;
    vertical-align: baseline;
    }


 

    .storyZero p{
      font-family: "hmuM";
      font-size: 15px;
      font-size: 18px;
      color: #252525;
      vertical-align: baseline;
      margin-bottom: 0rem;
      margin-top: 1rem;
      margin-left: 0.3rem;
    }

.title h2{
  font-size: 23px;
  position: absolute;
}
.laserfooter{
  .footerMain{
    top: 695%;
  }
  margin-top: 240%;
}

.firstMainfooter{
  
  .footerMain{
    @include media("<=phone") {
      top: 690%;
      height: 40%;
    }
    top: 750%;
  }
}

.aboutfooter{
  .footerMain{
    top: 210%;
  }
  margin-top: 50%;
}

.aging{
  width: 100%;
  position: absolute;
  top:10%;
  // background-image: url("/assets/aging1.jpg");
  height:120%;
  // background-color: rgba(0, 0, 0, 0.315);
}

.pirceContents{
  position:absolute;
  width: 50%;
  left: 25%;
}


.marchine{
  left: 5%;
  width: 90%;
  position: absolute;
  top: 160%;
}
.marchineTitle{
  width: 100%;
  position: absolute;
  top: 155%;
}
.marchineTitle p{
  font-family: "hmuB";
  font-size: 35px;
  color: #b58600;
  text-align: center;
  vertical-align: baseline;
}
.marchineTitle h2{
  margin-left: 24%;
  font-family: "hmuM";
  font-size: 1.5vw;
  color: #6a6a6a;
  line-height: 1.7;
  text-align: center;
  vertical-align: baseline;
  display: inline-block;
}
.marchineTitle h3{
  
  font-family: "hmuM";
  font-size: 2vw;
  color: #ce770c;
  line-height: 1.7;
  text-align: center;
  vertical-align: baseline;
  display: inline-block;
}
.marchineTitle h4{
  font-family: "hmuM";
  font-size: 1.5vw;
  color: #6a6a6a;
  line-height: 1.7;
  text-align: center;
  vertical-align: baseline;
  display: inline-block;
}
.freckles{
  position: absolute;
  width: 100%;
  top: 360%
}
