.footerMain{
  @include media("<=phone") {
    position: absolute;
    top: 700%;
    height: 30%;
  }

  width: 100%;
  height: 20%;
  background-color: grey;
  float: left;
}
.footerRow{
  margin-top: 2%;
  float: left;
  width: 90%;
  margin-left: 5%;
}
.ment{
  font-size: 12px;
  letter-spacing: 2px;
  @include media("<=phone") {
    font-size: 7px;
  }
}

