@font-face {
  font-family: 'Clickbluesky';
  src: local('Clickbluesky'), url("/fonts/Clickbluesky.ttf") format('truetype');
}

.mapMain{
  margin-top: 40%;
  width: 100%;
  background-color: rgb(214, 214, 214);
  float: left;
  @include media("<=phone") {
    position: absolute;
    top: 600%;
    height:100%
  }
}
.mapRow{
  margin-top: 3%;
  float: left;
  margin-left: 15%;
}
.mapKakao{
  @include media("<=phone") {
    position: absolute;
    overflow: hidden;
    left: 3%;
    width: 94%;
    height: 40%;
  }
  width: 100%;

}
.contactMent{
  @include media("<=phone") {
    font-size: 12px;
  }
  margin-bottom: 0px;
  font-size: 19px;
  letter-spacing: 5px;
}

.mentAddr{
  @include media("<=phone") {
    font-size: 12px;
    letter-spacing: 1px;
  }
  font-size: 18px;
  letter-spacing: 2px;
}

.mentTitle{
  @include media("<=phone") {
    font-size: 12px;
    margin-top:-3%;
  }
  font-size: 20px;
}

.line{
  @include media("<=phone") {
    position: absolute;
    left: 2%;
    font-size: 1%;
    top: 40%;
  }
  width: 100%;
  font-family: Clickbluesky;
}